@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: hsl(0, 0%, 8%);
    --container-color: hsl(0, 0%, 12%);
    --link-btn-color: hsl(0, 0%, 20%);
    --accent-color: hsl(75, 94%, 57%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: var(--background-color);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }