@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* STYLE GUIDE COLORS */
    /* --background-color: hsl(0, 0%, 8%); */
    /* --container-color: hsl(0, 0%, 12%); */
    /* --link-btn-color: hsl(0, 0%, 20%); */
    /* --accent-color: hsl(75, 94%, 57%); */
    
    /* CUSTOM COLORS */
    --background-color: #7469B6;
    --container-color: #AD88C6;
    --link-btn-color: #E1AFD1;
    --accent-color: #FFE6E6;

    /* USEFUL VALUES */
    --button-height: 2.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    background: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    background: var(--container-color);
    max-width: 17rem;
    max-height: 30rem;
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.socials-header {
    margin-bottom: 1.2rem;
}

.socials-header img {
    width: 5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background: var(--link-btn-color);
}

.socials-header h1 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.socials-header h2 {
    font-size: inherit;
    font-weight: 600;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.socials-main ul {
    width: 14rem;
    list-style: none;
    text-align: center;
}

.socials-main ul li {
    width: 100%;
    margin-bottom: 0.7rem;
}

.socials-main ul li a {
    display: inline-block;
    width: 100%;
    height: var(--button-height);
    padding: calc(((var(--button-height) - 1em) / 2) - 1px) 0;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: var(--link-btn-color);
    border-radius: 0.5rem;
    transition: 0.2s;
    &:hover {
        color: var(--container-color);
        background-color: var(--accent-color);
        transition: 0.2s;
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--accent-color);
}